.headerTop {
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--background-color);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .discount-btn {
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      background: linear-gradient(
        93.1deg,
        #e31e24 0.1%,
        #e31e24 36.33%,
        #ff6b6f 43.39%,
        #e31e24 51.47%,
        #e31e24 63.1%,
        #ff6b6f 83.1%,
        #e31e24 100.1%
      );
      cursor: pointer;
      display: flex;
      gap: 5px;
      font-size: 16px;
      border: none;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 50px;

      .header-menu {
        display: flex;
        align-items: center;
        gap: 20px;

        .header-menu_item {
          .header-menu_item__link {
            color: var(--text-200);

            transition: color 0.3s;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .headerTop {
    display: none !important;
  }
}
