:root {
  --yellow: #ffed00;
  --yellow-dark: #c8bb00;
  --yellow-light: #fffddb;
  --green: #009846;
  --green-dark: #006d33;
  --green-light: #b3ffd6;
  --red: #e31e24;
  --red-dark: #b2161b;
  --red-light: #f9ced0;
  --blue: #1fb0ff;
  --blue-dark: #0077b8;
  --blue-light: #dff4ff;
  --background-color: #f4f7fa;
  --border-color: #e2e5eb;
  --text-300: #202024;
  --text-250: #3d3d45;
  --text-200: #5b5b66;
  --text-150: #cdcdd2;
  --text-100: #dddde1;
  --text-50: #eeeef0;
}
